@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme("colors.mainTextColor");
  background-color: theme("colors.backgroundColor");
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
